section.ToDos {
    background-image: url('../../images/background.jpg');
    background-size: 100%;
    min-height: 78vh;
    background-color: #000;
  }
  
  section.ToDos article.todoGallery {
    padding: 2em 0 4em;
  }
  

  article.todoGallery div.singleTodo {
    background-color: rgba(200, 200, 200, .8);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    border: 2px solid #212529;
    padding: 0 0 2em;
    height: 15em;
    position: relative;
    /* Edit and Delete buttons will be positioned absolute, so to create the boundaries for their absolute positioning, we make the outer container relative. */
  }
  
  div.singleTodo h3 {
    background-color: rgb(23, 162, 184);
    padding: .5em 0;
    border-bottom: 4px solid #212529;
    color: #212529;
  }
  
  div.singleTodo p {
    padding: 1em;
  }